body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}