<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<h1>Registrar Persona</h1>

<form action="/guardar" method="POST">
    <input type="text" name="dni" placeholder="DNI" required>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="text" name="apellido" placeholder="Apellido" required>
    <input type="text" name="direccion" placeholder="Dirección">
    <input type="text" name="telefono" placeholder="Teléfono">

    <button type="submit">Guardar</button>
</form>

<br>
<a href="/administrar">Ver registros</a>

</body>
</html>